<!DOCTYPE html>
<html>
    <head>
        <title>Stock Data Visualizer</title>
    </head>
    <body>
        <h1 style="margin-left:20px">Stock Data Visualizer</h1>
        <form method="POST" style="width:200px; margin-left:50px">
            <div>
                <label for="symbol">Stock Symbol:</label>
                <select id="symbol" name="symbol" required>
                    <option value="" disabled selected>--select--</option>
                    {% for symbol in stock_symbols %}
                    <option value="{{ symbol }}">{{ symbol }}</option>
                    {% endfor %}
                </select>
            </div>
            <br>
            <div>
                <label>Chart Type:</label>
                <input type="radio" id="line_chart" name="chart_type" value="line" required>
                    <label for="line_chart">Line</label><br>
                <input style="margin-left:84px" type="radio" id="bar_chart" name="chart_type" value="bar" required>
                    <label for="bar_chart">Bar</label>  
            </div>
            <br>
            <div>
                <label>Time Series:</label>
                <input type="radio" id="daily" name="function_choice" value="daily" required>
                    <label for="daily">Daily</label><br>
                <input style="margin-left:90px" type="radio" id="weekly" name="function_choice" value="weekly" required>
                    <label for="weekly">Weekly</label><br>
                <input style="margin-left:90px" type="radio" id="monthly" name="function_choice" value="monthly" required>
                    <label for="monthly">Monthly</label> 
            </div>
            <br>
            <div>
                <label for="start_date">Start Date:</label>
                <input type="date" id="start_date" name="start_date" required>
            </div>
            <br>
            <div>
                <label for="end_date">End Date:</label>
                <input type="date" id="end_date" name="end_date" required>
            </div>
            <br>
            <button style="padding:3px 25px; font-size:1.1em" type="submit">Generate Chart</button><br><br>
        </form>

        {% if error %}
        <p style="color:Tomato">{{ error }}</p>
        {% endif %}

        {% if chart_svg %}
        {{ chart_svg | safe }}
        {% endif %}
    </body>
</html>